.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.mainWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[data-theme="light"] .mainLogo {
  display: block;
  background: url("/img/cloudstudio_logo.png") no-repeat;
  background-size: contain;
  width: 400px;
  height: 116px;
}

[data-theme="dark"] .mainLogo {
  display: block;
  background: url("/img/cloudstudio_logo_white.png") no-repeat;
  background-size: contain;
  width: 400px;
  height: 116px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
