@charset "utf-8";
@import "./mixin";

.footer {
    color: var(--ifm-color-primary);
    background-color: var(--footerBackgroundColor);  
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 32px 200px 32px 200px;
  
    &[data-theme='dark'] {
        li {
            h4 {
                color: --ifm-color-primary;
            }
        }
    }

    ul {
        list-style: none;
        padding-left: 0px;
    }

    h1 {
        text-align: right;
        line-height: 34px;
        position: relative;

        &:after {
            content: "";
            height: 4px;
            background-color: #206FD6;
            position: absolute;
            bottom: 80px;
            left: 0;
            right: 0;           
        }
    }

    h4 {
        margin-block-end: 8px;
        font-weight: 600;
    }

    h5 {
        font-weight: 500;
    }

    &__address {
        display: flex;
        justify-content: space-between;
        gap: 48px;

        @include mobile {
            flex-direction: column;
            gap: 4px;
        }

        &__copy {
            text-align: right;

            @include mobile {
                text-align: left;
                padding: 0px;
            }
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        &__menu {
            display: flex;
            gap: 72px;
        }
    }

    @include tablet {
        padding: 32px;

        &__nav {
            flex-direction: column;

            h1:after {
                content: "";
                height: 4px;
                background-color: #206FD6;
                position: absolute;
                bottom: 0px;
                left: 0;
                right: 0;
            }
        }
    }

    @include mobile {
        padding: 32px;

        &__nav {
            flex-direction: column;

            h1:after {
                content: "";
                height: 4px;
                background-color: #206FD6;
                position: absolute;
                bottom: 0px;
                left: 0;
                right: 0;
            }
        }
    }
}

