@charset "utf-8";
@import './mixin';

.imgWrap {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.tabs-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.caption {
  padding-bottom: 24px;
  margin: 0px;

  &_img{
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

.captionText {
    @include medium-gray();
}