@charset "utf-8";
@import "../scss/mixin";

.policy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  max-width: 1920px;

  &__indent {
    @include indent();
  }

  &__space {
    margin: 40px 0px 40px 0px;
  }

  h1 {
    width: 100%;
    @include h1();
  }

  h2 {
    width: 100%;
    @include h2();
  }

  h3 {
    width: 100%;
    @include h3();
  }

  h4 {
    width: 100%;
    @include h4();
  }

  @include desktop {
  }

  @include tablet {
  }

  @include mobile {
    padding: 8px;
  }

  table {
    tr,
    td {
      background-color: white;
    }
  }

  &__labeling {
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    align-items: center;
    padding: 24px;

    &__wrap {
      display: flex;
      gap: 32px;
    }
  }

  &__labelingIcon {
    display: flex;
    flex-direction: column;
    gap: 16px;

    ul {
      li {

        list-style-type: square;
        h5 {
          margin-bottom: 0;
        }
      }
    }
  }

}

.version {
  position: fixed;
  gap:4px;
  top:82px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;

  span {
    font-size: 1rem;
    font-weight: 500;
  }
  select {
    font-size: 0.9rem;
    border-radius: 4px;
    height: 32px;
  }
  @include mobile {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    padding:8px;
  }
}
