@charset "utf-8";

.imgWrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.caption {
    padding-bottom: 24px;
    margin: 0px;

    &_img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.captionText {
    color: #868686;
}


// 푸터 영역입니다
.footerWrap {
    background-color: #E5E9EE;
    padding: 24px;
    justify-content: space-between;

    &_menu{
        display: flex;
        gap: 16px;

        &_text {
            color: #182639;
            font-weight: 500;
        }
    }

    &_address {
        display: flex;
        justify-content: space-between;

        h4{
            font-weight: 500;
        }
    }
}
